.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.elevator-button {
  border-radius: 12px;
}
.elevator-button:disabled {
  background-color: gold;
}

.elevator-control {
  font-size: 26px;
  width: 52px;
}